doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation 5
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns.panel
        h1 Gadget Express
    .row
      .small-4.columns
        form#user
          fieldset
            legend Add User
            .row
              .small-6.columns
                label User
                  input(type='text', id='user' name='name' placeholder='Full Name')
              .small-6.columns
                label Deposit
                  input(type='text', id='deposit' name='deposit' placeholder='$$$$$')
            .row
              .small-12.columns
                button#add-user.small.radius Add User
      .small-5.columns
        form#item
          fieldset
            legend Add Item
            .row
              .small-5.columns
                label Item
                  input(type='text', id='item' name='name' placeholder='name')
              .small-4.columns
                label Cost
                  input(type='text', id='cost' name='cost' placeholder='$$$$$')
              .small-3.columns
                label In Stock
                  input(type='text', id='amount' name='amount' placeholder='#')
            .row
              .small-12.columns
                button#add-item.small.radius Add
      .small-3.columns
        img(src='http://www.faact.org/wp-content/uploads/2012/10/27-10-a.jpg')
    .row
      .small-12.columns
        button#show-users.small.radius Show All
    .row
      .small-6.columns
        table#users.hide
          thead
            tr
              th User
              th Balance
              th Purchases
          tbody#user-table
      .small-6.columns
    .row
      .small-12.columns
        table#items
          thead
            tr
              th
              th Gadget 
              th Inventory
              th Cost
              th Quantity
              th User
          tbody#item-table
        
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/foundation.reveal.js')
    script(src='/js/vendor/foundation.alert.js')
    script(src='/js/vendor/placeholder.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/vendor/numeral.min.js')
    script(src='/js/source/main.js')

